<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <!--<assemblies>
        <add assembly="MySql.Data, Version=8.0.11.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>-->
      <assemblies>
        <add assembly="MySql.Data, Version=8.0.11.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <add name="WebAppConnString" connectionString="server=localhost; user id=bhakti; password=123456; database=db_travel_data; pooling=false;" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>